# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_cmVsYXRpdmUtc2F3Zmx5LTkuY2xlcmsuYWNjb3VudHMuZGV2JA

# Supabase
VITE_SUPABASE_URL=https://mpjpdgjrafjexniivzln.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wanBkZ2pyYWZqZXhuaWl2emxuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU0NDMwMjgsImV4cCI6MjA3MTAxOTAyOH0.6pZPI1P67Dn6PJfvaaSIQ3F1hmvk3nEkP_LdFB0D0Wc

# PayPal
VITE_PAYPAL_CLIENT_ID=ASFI9KoXZ2gqMs2CM1heG2zdQOPsrGKUkg-QEtRSIMMnHX8QUxqHZfLnujUXmiqQhkxaic42q6G_cKUj
VITE_PAYPAL_ENV=sandbox
VITE_PAYPAL_STARTER_PLAN_ID=P-4U172182GD1125018NCRYJ2Q
VITE_PAYPAL_PRO_PLAN_ID=P-6AN862294S094324ENCRYKBI
VITE_PAYPAL_BUSINESS_PLAN_ID=P-7MD84180M2360054PNCRYKII
# Owner Settings
